@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: oklch(98% 0 0); 
  --foreground: oklch(20% 0.05 250); 

  --card: oklch(100% 0 0);
  --card-foreground: oklch(18% 0.05 250);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(18% 0.05 250);

  --primary: oklch(65% 0.15 190);
  --primary-foreground: oklch(98% 0 0);

  --secondary: oklch(92% 0.01 240);
  --secondary-foreground: oklch(30% 0.02 250);

  --muted: oklch(94% 0.01 240);
  --muted-foreground: oklch(55% 0.02 240);

  --accent: oklch(80% 0.15 200);
  --accent-foreground: oklch(18% 0.05 250);

  --destructive: oklch(60% 0.25 25);

  --border: oklch(90% 0.01 240);
  --input: oklch(90% 0.01 240);
  --ring: oklch(60% 0.05 240);

  --chart-1: oklch(70% 0.15 190);
  --chart-2: oklch(70% 0.10 250);
  --chart-3: oklch(60% 0.12 290);
  --chart-4: oklch(75% 0.12 150);
  --chart-5: oklch(80% 0.20 330);

  --sidebar: oklch(98% 0 0);
  --sidebar-foreground: oklch(18% 0.05 250);

  --sidebar-primary: oklch(65% 0.15 190);
  --sidebar-primary-foreground: oklch(98% 0 0);

  --sidebar-accent: oklch(92% 0.02 240);
  --sidebar-accent-foreground: oklch(30% 0.02 250);

  --sidebar-border: oklch(90% 0.01 240);
  --sidebar-ring: oklch(65% 0.05 250);
}

.dark {
  --background: oklch(20% 0.02 250); 
  --foreground: oklch(98% 0 0); 

  --card: oklch(22% 0.02 250);
  --card-foreground: oklch(98% 0 0);

  --popover: oklch(25% 0.02 250);
  --popover-foreground: oklch(98% 0 0);

  --primary: oklch(75% 0.18 190); 
  --primary-foreground: oklch(10% 0.01 250);

  --secondary: oklch(32% 0.01 250);
  --secondary-foreground: oklch(98% 0 0);

  --muted: oklch(30% 0.01 250);
  --muted-foreground: oklch(70% 0.05 250);

  --accent: oklch(70% 0.20 200);
  --accent-foreground: oklch(10% 0.01 250);

  --destructive: oklch(55% 0.20 25);

  --border: oklch(32% 0.01 250);
  --input: oklch(28% 0.02 250);
  --ring: oklch(75% 0.18 190);

  --chart-1: oklch(75% 0.18 190);
  --chart-2: oklch(75% 0.15 230);
  --chart-3: oklch(70% 0.20 200);
  --chart-4: oklch(60% 0.20 150);
  --chart-5: oklch(80% 0.20 330);

  --sidebar: oklch(22% 0.02 250);
  --sidebar-foreground: oklch(98% 0 0);
  --sidebar-primary: oklch(75% 0.18 190);
  --sidebar-primary-foreground: oklch(12% 0.01 250);
  --sidebar-accent: oklch(70% 0.20 200);
  --sidebar-accent-foreground: oklch(10% 0.01 250);
  --sidebar-border: oklch(32% 0.01 250);
  --sidebar-ring: oklch(70% 0.18 190);
}


@theme inline {
  --font-sans:
    var(--font-public-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--font-commit-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-foreground/20 outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utils {
  .animate-text-shimmer {
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: text-shimmer;
    background: var(--muted-foreground)
      gradient(
        linear,
        100% 0,
        0 0,
        from(var(--muted-foreground)),
        color-stop(0.5, var(--secondary-foreground)),
        to(var(--muted-foreground))
      );
    background: var(--muted-foreground) -webkit-gradient(
        linear,
        100% 0,
        0 0,
        from(var(--muted-foreground)),
        color-stop(0.5, var(--secondary-foreground)),
        to(var(--muted-foreground))
      );
    background-repeat: no-repeat;
    background-size: 50% 200%;
    display: inline-block;
  }

  @keyframes text-shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 250% 0;
    }
  }
}
